services:
  desktop:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: simple-agent-desktop
    security_opt:
      - seccomp:unconfined
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - CUSTOM_USER=agent
      - PASSWORD=password
      - RESOLUTION=1064x1064
      - SELKIES_IS_MANUAL_RESOLUTION_MODE=true
      - SELKIES_MANUAL_WIDTH=1064
      - SELKIES_MANUAL_HEIGHT=1064  
    volumes:
      - ./config:/config
      - ./custom-cont-init.d:/custom-cont-init.d:ro
    ports:
      - 3001:3000
    shm_size: "2gb"
    restart: unless-stopped