.null-ls*
apps/controlpanel/.vs/
apps/chatserver/uploads/
chroma_db_actions/
chroma_db_taskdocs/
core/chroma_db_actions/
**/logs/
workspace/
white_collar_agent/external_tools/
white_collar_agent/generated_task_document/
**/__pycache__/
**/rag_docs_actions/
**/rag_docs_taskdocs/
ollama_data/
config.json
node_modules
.env
**/agent_logs.txt
**/memory.txt
**/gui/config